
// Colors

$color-light-green: #A5BE00;
$color-light-green-2: #95C623;
$color-light-blue: #0094C6;
$color-dark-blue: #0E4749;
$color-white: #F1F6FA;
$color-error: #E94F37;
$color-error-red: #C20114;
$color-dark-grey: #252422;
$color-light-grey: #383A3B;
$color-light-grey-2: #3A3E3B;
$color-light-yellow: #C6B70B;
    
// End of colors