@import "@/assets/scss/constants.scss";
@import "@/assets/scss/common.scss";

.signin {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    justify-content: center;
    align-items: center;
}

.form-item {
    display: flex;
    width: 100%;
    margin: 10px 0;
    font-size: 20px;
    border-bottom: 1px solid $color-dark-blue;
}

.back-btn {
    @extend .btn-standard;

    position: absolute;
    top: 50px;
    left: 50px;
    background-color: $color-light-green;
    border-radius: 20px;
}

.form-item {
    label {
        margin-right: 10px;
    }

    input {
        flex-grow: 1;
        border: none;
        font-size: 22px;
        color: $color-dark-blue;

        &:hover,
        &:active,
        &:focus {
            border: none;
            outline: none;
        }
    }
}

.form-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 200px;
    padding: 20px;
    border: 1px solid $color-dark-blue;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 2px $color-light-green;
    color: $color-dark-blue;

    h2 {
        margin: 10px 0;
        font-weight: 200;
        font-size: 2rem;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .btn-submit {
            align-self: flex-end;
            margin: 30px 0;
        }

        .link {
            align-self: flex-end;

            a {
                color: $color-light-blue;
                text-decoration: none;
            }
        }
    }
}
